cython==3.0.0
numpy>1.20.0
pandas==1.1.5
matplotlib==3.5.1
ipykernel==6.9.2
mlflow==2.3.0
pylint==2.6.0
pytest-cov==2.10.1
pyyaml==5.4.1
python-json-logger==2.0.2
polyaxon==1.11.3
hydra-optuna-sweeper==1.1.1
optuna==2.10.0
fastapi==0.70.1
datasets==2.12.0
uvicorn[standard]==0.14.0
gunicorn==20.1.0
sphinx==4.3.2
jsonlines==3.0.0
streamlit==1.7.0
click==7.1.2
protobuf==3.20.*
TextGrid==1.5
librosa==0.10.0.post2
soundfile>=0.12.1
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
pytorch-lightning
torchmetrics==0.11.4
pre-commit==3.3.2
nemo_toolkit[asr] @ git+https://github.com/NVIDIA/NeMo.git@main